@model RegisterViewModel;

@{
	ViewData["Title"] = "Register";
	Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="account-container">
	<div class="account-box">
		<h2 class="text-center mb-4">Register</h2>
		<form asp-action="Register" method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="mb-3">
				<label asp-for="FirstName" class="form-label" for="RegisterFirstName">
					First Name
				</label>
				<input id="RegisterFirstName" asp-for="FirstName" class="form-control" />
				<span asp-validation-for="FirstName" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="LastName" class="form-label" for="RegisterLastName">
					Last Name
				</label>
				<input id="RegisterLastName" asp-for="LastName" class="form-control" />
				<span asp-validation-for="LastName" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="Login" class="form-label" for="RegisterLogin">
					Username
				</label>
				<input id="RegisterLogin" asp-for="Login" class="form-control" />
				<span asp-validation-for="Login" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="Email" class="form-label" for="RegisterEmail">
					Email Address
				</label>
				<input id="RegisterEmail" asp-for="Email" type="email" class="form-control" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="Password" class="form-label" for="RegisterPassword">
					Password
				</label>
				<input id="RegisterPassword" asp-for="Password" type="password" class="form-control" />
				<span asp-validation-for="Password" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="ConfirmPassword" class="form-label" for="RegisterConfirmPassword">Confirm Password</label>
				<input id="RegisterConfirmPassword" asp-for="ConfirmPassword" type="password" class="form-control"/>
				<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
			</div>
			<input type="submit" value="Register" class="btn btn-success w-100 p-2" />
			<p class="text-center mt-2">
				Already have an account? <a asp-controller="Account" asp-action="Login" class="text-decoration-none">Login</a>
			</p>
			<div class="text-center">
				<a asp-controller="Home" asp-action="Index" class="text-decoration-none mt-3">Back</a>
			</div>
		</form>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
	}
}